
.task-container{
    min-height: 4rem;
    width: auto;
}

#task-title{
    font-size: 18px;
    font-weight: bolder;
}

#task-desc{
    border: 1px solid black;
    font-size: 16px;
    height: 4rem;
    overflow: auto;
}

#task-btn{
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .task-container{
        border:1px solid green!important;
        font-size:smaller;
    }

}

/*@media screen and (max-width: 770px) {*/
/*    .task-container{*/
/*      min-height:5rem;*/
/*    }*/

/*    .task-container #task-desc{*/
/*        display:none;*/
/*    }*/
/*}*/