.user-main-content-container{
    padding-top:8rem;
}

.user-name{
    color: #50ddff;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.82);
}

.latest-tasks h4{
    padding-top:2rem;
}


@media only screen and (max-width: 760px) {
    .user-main-content-container{
        padding-top:5rem;
    }
}