.main-container-login{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../../../assets/sec1_full.png');
}

.input-validation-msg{
    color:gray!important;
    display:none;
}

@media screen and (max-width: 767px) {
    main{
        padding-top: 5rem;
    }

    .main-container-login{
        min-height: 132vh!important;
    }
}


@media screen and (max-width: 490px) {
    .main-container-login{
        min-height: 135vh!important;
    }
}

@media screen and (max-width: 320px) {
    .main-container-login{
        min-height: 150vh!important;
    }

    #register-msg{
        padding:0!important;
    }
}

