@font-face {
    font-family: "JosefinSans";
    src: local("JosefinSans"),
    url("./fonts/JosefinSans/JosefinSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "satyr";
    src: local("satyr"),
    url("./fonts/satyr/satyr.ttf") format("truetype");
}